/**
    BACKGROUND
 */
.background {
    -fx-background-color: #eeebff;
}

.background .label {
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-font-size: 12pt;
}

.background-lower .image-view {
    -fx-border-color: #1d1d1d;
}

.background .choice-box {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-font-size: 15pt;
    -fx-mark-color: orange;
}

.background-lower {
    -fx-background-color: white;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

/**
    TABLE
 */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-view {
    -fx-background-color: #9bc5d9;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .table-column {
    -fx-font-family: "serif UI Light";
    -fx-text-fill: #000000;
    -fx-font-size: 13pt;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: #9bc5d9;
}

.table-view .label {
    -fx-background-color: #9bc5d9;
}

.button {
    -fx-background-color: #333233;
    -fx-text-fill: #eeebff;
    -fx-border-color: #333233;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #5e5b5e;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0)
}


